* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cormorant {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-bottom: 20px;
}
